section.services {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2em 0;

  .services__content {
    max-width: 1281px;
    width: 100%;

    padding: 0 1em;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      margin-bottom: 3em;

      h2 {
        font-size: 16px;
        font-weight: 600;
      }

      .subtitle {
        font-size: 26px;

        font-weight: bold;
      }
    }

    &-items {
      display: flex;
      flex-wrap: nowrap;
      gap: 70px;

      width: 100%;

      margin-top: 1.5em;

      @media (max-width: 900px) {
        flex-wrap: wrap;

        gap: 0;
      }

      .item {
        width: calc(33.333% - 70px);

        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 900px) {
          width: calc(100% - 70px);

          margin-top: 2em;
          padding: 0 1em;

          &:first-child {
            margin-top: 0 !important;
          }
        }

        &-title {
          font-weight: bold;

          font-size: 22px;
        }

        &-subtitle {
          font-size: 15px;
          font-weight: light;

          color: rgb(97, 97, 97);
        }

        ul {
          padding: 0;
          margin: 0;

          font-weight: 600;
          font-size: 15px;

          list-style: none;

          li {
            margin: 5px 0;
          }
        }
      }
    }
  }
}
