section.services {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2em 0;

  .services__content {
    max-width: 1281px;
    width: 100%;

    padding: 0 1em;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      margin-bottom: 3em;

      h2 {
        font-size: 16px;
        font-weight: 600;

        color: #7de0ea;
      }

      .subtitle {
        font-size: 26px;

        font-weight: bold;

        color: #242a41;
      }
    }

    &-items {
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;

      width: 100%;

      @media (max-width: 900px) {
        flex-wrap: wrap;
      }

      .item {
        width: calc(33.333% - 70px);

        display: flex;
        flex-direction: column;
        gap: 15px;

        background-color: #f6f7fc;
        color: #242f65;

        border-radius: 12px;

        position: relative;

        padding: 1.5em;

        overflow: hidden;
        transition: background-color 0.3s ease-in-out;

        &::before {
          content: '';
          position: absolute;
          top: -50%;
          left: -50%;
          width: 200%;
          height: 200%;
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0)
          );
          transition: transform 0.5s ease-in-out;
          transform: scale(0);
          border-radius: 50%;
          z-index: 0;
        }

        &:hover::before {
          transform: scale(1);
        }

        &:hover {
          background-color: #e2e6f2;
        }

        > * {
          position: relative;
          z-index: 1;
        }

        @media (max-width: 900px) {
          width: calc(100% - 70px);

          &:first-child {
            margin-top: 0 !important;
          }
        }

        &-title {
          font-weight: bold;

          font-size: 22px;
        }

        &-subtitle {
          font-size: 15px;
          font-weight: light;

          color: #585f6f;
        }

        ul {
          padding: 0;
          margin: 0;

          font-weight: 600;
          font-size: 15px;

          list-style: none;

          li {
            margin: 5px 0;
          }
        }
      }
    }
  }
}
